* {
  box-sizing: border-box;
}

header {
  position: relative;
  margin:30px;
  padding: 5px;
  text-align: center;
}

.logoWithTitle{
  display:inline-block;
}

h1{
  font-size: 9em;
  display:inline-block;
  margin: 50px;
}

nav{
  display: inline-block;
  float: right;
  position: relative;
}

nav>ul{
  display:inline-block;
}

nav>ul>li{
  display: inline-block;
}

body{
  width:100%;
  position: relative;
}

main {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#user-interface {
  text-align: center;
  position: relative;
  display: inline-block;
}

img{
  width: 300px;
  height: 200px;
}

#images-container {
  height: 400px;
  width:1024px;
  position: relative;
}

.imageBox1 {
  float: left;
  display: inline-block;
}

.imageBox2 {
  float: left;
  display: inline-block;
}

.imageBox3 {
  float: left;
  display: inline-block;

}

#image1{
  float:left;
}
#image2{
  float:left;
}
#image3{
  float:left;
}

#vote-button {
  height: 30px;
  display: block;
}

#instructions {
  display: block;
}

.image-display {
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.chartContainer{
  text-align: center;
  width: 100%;
}



footer {
  position: relative;
  margin: 30px;
  text-align: center;
}




